<div class="mt-4">
    <form method="POST" action="">
  <div class="mb-3">
    <label for="search-input" class="form-label">Search Input</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Search Input...">
  </div>
  <div class="mb-3">
    <label for="gender-input" class="form-label">Search Input</label>
    <select name="gender" class="form-control" id="gender-input" >
        <option value="">---Select---</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>

    
  </div>
  
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>